body{
  width: 100%;
  height: 100%;
  margin: 0;
}
div,p,a,span,h1,h2,h3,h4,h5,h6,li{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*个人自定义*/

.form-controls img{
      width:200px;
      height:200px;
  }
.lf{
  float: left;
}
.rt{
  float: right;
}
/**************** header部分 start **************/
.head{
  width: 100%;
  background: #1BC3B9;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}
.logo{
  width: 300px;
  height: 84px;
  padding: 20px 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 20px;
}
.logo a{
  display: block;
}
.logo a .company{
  color: #FAFAFF;
  font-size: 31px;
  font-weight: bold;
}
.logo a b{
  display: inline-block;
  height: 25px;
  font-weight: normal;
  border-left: 1px solid #E6E7ED;
  position: relative;
  top: 5px;
}
.logo a .mall{
  color: #FFFFFF;
  font-size: 17px;
}
.logo a.zong{
  color: #E6E7ED;
  font-size: 14px;
  line-height: 47px;
}
.head .mingcheng{
  width: 100%;
  height: 84px;
  line-height: 84px;
  text-align: right;
}
.head .mingcheng  span{
  font-size: 14px;
  color: #FAFAFF;
}
.head .mingcheng  span.exit a{
  font-size: 14px;
  color: #da374b;
}
/**************** header部分 end **************/
/*****************导航内容部分 start**************/
.navss{
  width: 100%;
  height: 100%;
  position: relative;
}
/******** 导航左侧部分 start *********/
.nav-left{
  width: 200px;
  border-right: 1px solid #ECECEC;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-left ul li{
  clear: both;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
}
.nav-left ul li a{
  width: 100%;
  color: #717171;
  box-sizing: border-box;
  padding: 10.7px 38px;
  font-size: 12px;
}
.nav-left ul li:nth-child(1) a:before{
  content: url("../images/set.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(2) a:before{
  content: url("../images/class.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(3) a:before{
  content: url("../images/navigation.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(4) a:before{
  content: url("../images/zsbk.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(5) a:before{
  content: url("../images/zsgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(6) a:before{
  content: url("../images/fwgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(7) a:before{
  content: url("../images/ddgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(8) a:before{
  content: url("../images/yhgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(9) a:before{
  content: url("../images/mdgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(10) a:before{
  content: url("../images/zfgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(11) a:before{
  content: url("../images/index.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(12) a:before{
  content: url("../images/server.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(13) a:before{
  content: url("../images/member.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(14) a:before{
  content: url("../images/order.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(15) a:before{
  content: url("../images/fwry.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(16) a:before{
  content: url("../images/xxtz.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(17) a:before{
  content: url("../images/form.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(18) a:before{
  content: url("../images/fwxm.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(19) a:before{
  content: url("../images/server.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li:nth-child(20) a:before{
  content: url("../images/yhgl.png");
  position: absolute;
  top: 10px;
  left: 10px;
}
.nav-left ul li a:hover{
  background-color: #F3F3F3;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background: #F1F1F1;
  border-radius: 0;
}
/******** 导航左侧部分 end *********/
/******** 导航右侧部分 start *********/
.nav-right{
  width: 100%;
  padding-left: 200px;
}
.nav-right div{
  width: 100%;
  box-sizing: border-box;
}
.nav-right div iframe{
  padding-bottom: 50px;
}
/******** 导航右侧部分 end *********/

/*****************导航内容部分 end**************/

































